body{
    background-color: aqua;
    border:5px solid #000;
}
.section-red{
   height:350px;
   width:500px;
    border: 2px dotted #ccc;
    margin: 20px;
    color: red;
    padding: 5px;
    background-image: url("https://lh3.ggpht.com/xdAvJ8t2xGTTCX66KcG699ad5iJU1GE7RWISkrfImlx6EpxT_mozezHtEdAR=s1200");
}
#section-grn{
    background: green;
    border: 3px dashed #fff;
    padding: 20px;
    margin: 20px;
    /* position: relative; */
    align-items: flex-end;
    
    /* align-content: baseline; */
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    flex-grow:2 ;
    flex-shrink: 5;
}
#section-grn img{
    width:300px;
    height: 300px;
}

#para{
    color:rgb(255, 165, 0);
    border:2px solid #000;
    padding:5px 25px 15px;
    font: 1em sans-serif;
    font-weight: 800;
    /* position: absolute; */
    /* top:0; */
}