body {
    border: double 10px rebeccapurple;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_1280.jpg");
    height: 100%;
}

h1 {
    font-size: x-large;
    color: orchid;
    padding: 5%;
    font-family: "Trirong", serif;
    text-align: center;
}

.first-div {
    width: 500px;
    border: 3px dotted Tomato;
    padding: 10px;
    background-color: beige;
    margin: 5% 10% 5% 30%;
    text-align: center;
    color: red;
    font-family: 'Gill Sans MT';
}

#para {
    background-color: rgb(207, 191, 223);
    font-family: 'Gill Sans MT';
    border: 3px dashed blue;
    padding: 5%;
    margin: 5%;
}

.border {
    border-top: 5px solid palegreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: cadetblue;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    padding: 5%;
    text-align: center;
    background-color: SlateBlue;
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
}

.relative-position {
    position: relative;
    /* background-image: url("https://cdn.pixabay.com/photo/2021/01/26/12/29/mountain-5951302_960_720.jpg"); */

    margin: 5% 20%;
}

img {
    border-radius: 15px;
    height: 50%;
    width: 90%;
}

.absolute {
    position: absolute;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin-left: 65%;
}


