.banner {
    /* background-image: url("../Exercise/images/banner_background_image.png"); */
    width: 100%;
    height:auto;
    box-sizing: border-box;

position: relative;
margin: 0 auto;
left: 0px;
top: 0px;

background: #000000;
opacity: 0.66;
border: 1px solid #000000;
}
img{
    width:100%;
    height: auto;
}
#nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
left: 138px;
top: 82px;
position: absolute;
width:85%;
}
.logo{
height:44px;
}
.container {
    background: #E5E5E5;
}